# Logs
logs
*.log
npm-debug.log*

# Dados de tempo de execucao
pids
*.pid
*.seed

# Diretorio para bibliotecas instrumentais geradas por jscoverage/JSCover
lib-cov

# Diretorio de cobertura usado por ferramentas como istanbul
coverage

# Armazenamento intermediario Grunt (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

# Configuracao node-waf
.lock-wscript

# Adicionais binarios compilados (http://nodejs.org/api/addons.html)
build/Release

# Diretorio de dependencias
# https://docs.npmjs.com/misc/faq#should-i-check-my-node-modules-folder-into-git
node_modules

# Diretorio npm cache opcional
.npm

# Historico REPL opicional
.node_repl_history

# Arquivos e pastas pessoais
/node_modules/
/public/assets/libs/
.env

# Diretorio usado pelo sass
.sass-cache