<div id="navbar" class="navbar-fixed scrollspy">
    <nav class="primary-color">
        <div class="nav-wrapper">
            <a href="#navbar">
                <img class="brand-logo" src="assets/imgs/logo.png" alt="">
            </a>
            <a href="#" data-activates="side-nav" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a ui-sref="root.home" ng-if="!state.isHome()">Início</a></li>
                <li><a href="#about" ng-if="state.isHome()">Sobre</a></li>
                <li><a href="#register" ng-if="state.isHome()">Cadastre-se</a></li>
                <li><a ui-sref="root.login">Entrar</a></li>
            </ul>
            <ul class="side-nav" id="side-nav">
                <li class="no-padding"><a ui-sref="root.home" ng-if="!state.isHome()">Início</a></li>
                <li class="no-padding"><a href="#about" ng-if="state.isHome()">Sobre</a></li>
                <li class="no-padding"><a href="#register" ng-if="state.isHome()">Cadastre-se</a></li>
                <li class="no-padding"><a ui-sref="root.login">Entrar</a></li>
            </ul>
        </div>
    </nav>
</div>