<div id="about" class="scrollspy">
    <div class="section container">
        <h5 id="about-description" class="light center">
            Iniciação Científica, Iniciação Tecnológica e Industrial (ITI), Equipes de Competição, Projetos de Extensão e Monitorias
            divulgados da maneira correta
        </h5>
        <div class="row">
            <div class="col s12 m4">
                <h4 class="center primary-color-text"><i class="fa fa-connectdevelop fa-2x"></i></h4>
                <h5 class="center light">Conetividade</h5>
                <p class="center light">Conecte-se a diversos professores com vagas disponíveis na sua área de interesse</p>
            </div>
            <div class="col s12 m4">
                <h4 class="center primary-color-text"><i class="fa fa-pencil center fa-2x"></i></h4>
                <h5 class="center light">Oportunidades</h5>
                <p class="center light">Anuncie oportunidades para todos os alunos da UFRJ. Uma lista de email e um aviso no mural não são tão eficientes
                    quanto um catálogo virtual</p>
            </div>
            <div class="col s12 m4">
                <h4 class="center primary-color-text"><i class="fa fa-cog fa-2x center"></i></h4>
                <h5 class="center light ">Gerenciamento</h5>
                <p class="center light">Curta, crie, atualize e remova oportunidades de maneira fácil e rápida. Chega de procurar aquele email antigo
                    e de mandar mensagens em vários grupos diferentes perguntando sobre uma vaga de IC que ninguém conhece</p>
            </div>
        </div>
    </div>
</div>