<div id="about" class="scrollspy">
    <div class="valign-wrapper section container">
        <h5 class="valign">
            A <i>Base Apolo</i> é uma plataforma digital para o compartilhamento de oportunidades acadêmicas para o corpo discente 
            da universidade Federal do Rio de Janeiro (UFRJ). Por oportunidade acadêmica entendemos atividades do tipo: Iniciação Científica (IC), 
            Iniciação Tecnológica e Industrial (ITI), Equipes de Competição, Projetos de Extensão e Monitorias.
        </h5>
    </div>
</div>