#about {
    #about-description {
        margin-bottom: 1em;
    }
    #about-description {
        margin-top: 1.5em;
    }
}

#register {
    /* label color */
   .input-field label {
    //  color: $primary-color;
   }
   /* label focus color */
   .input-field input:focus + label {
     color: $primary-color;
   }
   /* label underline focus color */
   .input-field input:focus {
     border-bottom: 1px solid $primary-color;
     box-shadow: 0 1px 0 0 $primary-color;
   }
   /* valid color */
   .input-field input.valid {
     border-bottom: 1px solid $primary-color;
     box-shadow: 0 1px 0 0 $primary-color;
   }
   /* invalid color */
   .input-field input.invalid {
    //  border-bottom: 1px solid $primary-color;
    //  box-shadow: 0 1px 0 0 $primary-color;
   }
   /* icon prefix focus color */
   .input-field .prefix.active {
    //  color: $primary-color;
   }
}