#user-home {
    padding-top: 2em;
    
    searchbar {
        input {
            color: color("grey","darken-1") !important;
        }
    }
    
    #user-home-dropdown {
        margin-top: 1em;
        margin-bottom: 1em;
    }
}