<div class="section container">
    <div class="row">
        <opportunity-card class="col s12 m6 l4" on-star-click="handleStar" title="Title" author="Author" content="Content" counter='123'></opportunity-card>
        <opportunity-card class="col s12 m6 l4" on-star-click="handleStar" title="Meu titulo" author="Eu mesmo" content="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias fugiat necessitatibus officiis voluptatibus quidem saepe enim numquam, aspernatur earum! Nostrum aliquam, temporibus asperiores unde quidem perspiciatis delectus rerum, ut illum?" counter='1'></opportunity-card>
    </div>
</div>
