<div id="register" class="scrollspy">
    <div class="section container">
        <h3 class="light center">
            Cadastre-se
        </h3>
        <div class="row">
            <form class="col s12">
                <div class="row">
                    <div class="input-field col l6 offset-l3 s12 m8 offset-m2">
                        <input placeholder="ex: Marceline Abadeer" id="register-name" type="text" class="validate">
                        <label for="register-name" class="active">Nome</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col l6 offset-l3 s12 m8 offset-m2">
                        <input placeholder="ex: marcy@ooomail.com" id="register-email" type="email" class="validate">
                        <label for="register-email" data-error="inválido" class="active">Email</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col l6 offset-l3 s12 m8 offset-m2">
                        <input id="register-password" type="password">
                        <label for="register-password">Senha</label>
                    </div>
                </div>
                <div class="center-align">
                    <button class="btn waves-effect waves-light primary-color" type="submit" name="action">
                        Registrar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>